server/
.dap-breakpoints
projects
workspace
.lsp-session*
projectile*
.session
.cache/
.emacs.desktop
.local/
.vscode/

auto-save-list/
elpa/
history
request/
var/
transient/
^flycheck_*.el
eln-cache
straight/
recentf
network-security.data
/url/
flycheck_*.el
